Repository codesquad-member-2020/issue-tracker-07, pull requests merged in 2020-06, with the labels that each got.

#28 로그인 화면 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppleButton.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppleButton.imageset/apple_dark.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppleButton.imageset/apple_light-1.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppleButton.imageset/apple_light.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/githubButton.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/githubButton.imageset/GitHub-Mark-64px.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/githubButton.imageset/GitHub-Mark-Light-64px-1.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/githubButton.imageset/GitHub-Mark-Light-64px.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/githubTitle.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/githubTitle.imageset/githubTitleDark.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/githubTitle.imageset/githubTitleLight-1.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/githubTitle.imageset/githubTitleLight.png
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/CustomView/BorderButton.swift
  iOS/IssueTracker/IssueTracker/CustomView/BorderView.swift
  iOS/IssueTracker/IssueTracker/Extension/UIAlertControllerExtension.swift
  iOS/IssueTracker/IssueTracker/Login/InputStackView.swift
  iOS/IssueTracker/IssueTracker/Login/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/Login/SignInViewModel.swift
  iOS/IssueTracker/IssueTracker/Model/Dynamic.swift
  iOS/IssueTracker/IssueTracker/Model/EndPoint.swift
  iOS/IssueTracker/IssueTracker/Model/NetworkManager.swift
  iOS/IssueTracker/IssueTracker/Model/OAuthManager.swift
  iOS/IssueTracker/IssueTracker/UseCase/LoginUseCase.swift
  iOS/IssueTracker/IssueTracker/ViewController.swift
Labels: iOS

#38 회원가입 화면 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/IssueTracker/IssueTracker/Assets.xcassets/ModalBackgroundColor.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/CustomView/BorderButton.swift
  iOS/IssueTracker/IssueTracker/Extension/UIViewControllerExtension.swift
  iOS/IssueTracker/IssueTracker/Issue/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Login/InputStackView.swift
  iOS/IssueTracker/IssueTracker/Login/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/Login/SignInViewModel.swift
  iOS/IssueTracker/IssueTracker/Model/EndPoint.swift
  iOS/IssueTracker/IssueTracker/Model/NetworkManager.swift
  iOS/IssueTracker/IssueTracker/Model/OAuthManager.swift
  iOS/IssueTracker/IssueTracker/Model/SignInResponse.swift
  iOS/IssueTracker/IssueTracker/Model/UserCertification.swift
  iOS/IssueTracker/IssueTracker/SignUp/SignUpResponse.swift
  iOS/IssueTracker/IssueTracker/SignUp/SignUpViewController.swift
  iOS/IssueTracker/IssueTracker/SignUp/SignUpViewModel.swift
  iOS/IssueTracker/IssueTracker/UseCase/LoginUseCase.swift
  iOS/IssueTracker/SignUpTests/Info.plist
  iOS/IssueTracker/SignUpTests/SignUpTests.swift
Labels: feature, iOS

#50 피드백 반영
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/CustomView/BorderButton.swift
  iOS/IssueTracker/IssueTracker/Extension/UIViewControllerExtension.swift
  iOS/IssueTracker/IssueTracker/Login/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/Login/SignInInfo.swift
  iOS/IssueTracker/IssueTracker/Login/SignInUseCase.swift
  iOS/IssueTracker/IssueTracker/Login/SignInViewModel.swift
  iOS/IssueTracker/IssueTracker/Model/Dynamic.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint.swift
  iOS/IssueTracker/IssueTracker/Model/Network/NetworkManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/OAuthManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/RequestComponents.swift
  iOS/IssueTracker/IssueTracker/Model/Network/ResponseComponents.swift
  iOS/IssueTracker/IssueTracker/Model/NetworkManager.swift
  iOS/IssueTracker/IssueTracker/SignUp/SignUpInfo.swift
  iOS/IssueTracker/IssueTracker/SignUp/SignUpUseCase.swift
  iOS/IssueTracker/IssueTracker/SignUp/SignUpViewController.swift
  iOS/IssueTracker/IssueTracker/SignUp/SignUpViewModel.swift
  iOS/IssueTracker/SignUpTests/SignUpTests.swift
Labels: iOS, refacor

#71 이슈 목록 화면 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Assets.xcassets/DateColor.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/IssueDescriptionColor.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/CustomView/BorderButton.swift
  iOS/IssueTracker/IssueTracker/CustomView/BorderLabel.swift
  iOS/IssueTracker/IssueTracker/Extension/CalendarExtension.swift
  iOS/IssueTracker/IssueTracker/Extension/DateFormatterExtension.swift
  iOS/IssueTracker/IssueTracker/Extension/UIColorExtension.swift
  iOS/IssueTracker/IssueTracker/Issue/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueListUseCase.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueNetworkingComponents.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueTableView/IssueTableViewCell.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueTableView/IssueTableViewDataSource.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueTableView/IssueViewModel.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueTableView/LabelCollectionView/LabelCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueTableView/LabelCollectionView/LabelCollectionViewDataSource.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueTableView/LabelCollectionView/LabelLayout.swift
  iOS/IssueTracker/IssueTracker/Login/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/Login/SignInUseCase.swift
  iOS/IssueTracker/IssueTracker/Model/Issue.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint.swift
  iOS/IssueTracker/IssueTracker/Model/Network/NetworkManager.swift
Labels: feature, iOS

#73 애플 로그인 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppleButton.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppleButton.imageset/Left Black Logo Large@3x.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppleButton.imageset/Left White Logo Large@3x-1.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppleButton.imageset/Left White Logo Large@3x.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppleButton.imageset/apple_dark.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppleButton.imageset/apple_light-1.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppleButton.imageset/apple_light.png
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/IssueTracker.entitlements
  iOS/IssueTracker/IssueTracker/Login/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/Login/SignInUseCase.swift
  iOS/IssueTracker/IssueTracker/Model/AppleLoginCertification.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint.swift
Labels: feature, iOS

#89 이슈 상세화면 기능 구현 완료 했습니다.
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Assets.xcassets/CloseBackgroundColor.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/EmojiButtonBackgroundColor.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/EmojiTintColor.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/OpenBackgroundColor.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/detailCellBackground.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/detailCollectionViewBackground.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/DetailIssue/DetailIssueCollectionReusableView.swift
  iOS/IssueTracker/IssueTracker/DetailIssue/DetailIssueCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/DetailIssue/DetailIssueCollectionViewDataSource.swift
  iOS/IssueTracker/IssueTracker/DetailIssue/DetailIssueUseCase.swift
  iOS/IssueTracker/IssueTracker/DetailIssue/DetailIssueViewController.swift
  iOS/IssueTracker/IssueTracker/DetailIssue/IssueContentViewModel.swift
  iOS/IssueTracker/IssueTracker/DetailIssue/IssueTitleViewModel.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueListUseCase.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueTableView/IssueViewModel.swift
  iOS/IssueTracker/IssueTracker/Login/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/Login/SignInUseCase.swift
  iOS/IssueTracker/IssueTracker/Model/AppleLoginCertification.swift
  iOS/IssueTracker/IssueTracker/Model/Issue.swift
  iOS/IssueTracker/IssueTracker/Model/IssueInfo.swift
  iOS/IssueTracker/IssueTracker/Model/Network/NetworkManager.swift
  iOS/IssueTracker/IssueTracker/Model/UserCertification.swift
  iOS/IssueTracker/IssueTracker/Setting/SettingViewController.swift
  iOS/IssueTracker/IssueTracker/Setting/TokenDecoder.swift
  iOS/IssueTracker/IssueTracker/SignUp/SignUpInfo.swift
  iOS/IssueTracker/IssueTracker/SignUp/SignUpUseCase.swift
  iOS/IssueTracker/IssueTracker/SignUp/SignUpViewController.swift
  iOS/IssueTracker/IssueTracker/SignUp/SignUpViewModel.swift
  iOS/IssueTracker/SignUpTests/SignUpTests.swift
Labels: feature, iOS
